html {
  min-width: 320px;
  max-width: 1920px;
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0;
  padding: 0; }
  body h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.8rem;
    font-weight: 800;
    color: black; }
  body h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.6rem;
    font-weight: 800;
    color: black; }
  body h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 800;
    color: black; }
  body h4 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.2rem;
    font-weight: 800;
    color: black; }
  body h5 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.0rem;
    font-weight: 800;
    color: black; }
  body h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    color: black; }
  body p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: black;
    margin: 0; }
  body div, body input, body select, body label, body textarea {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: black; }
  body input.form-control {
    border: 1px solid #D7E0E2;
    transition: all 0.15s ease-in-out; }
    body input.form-control:focus {
      box-shadow: 0 0px 5px 0 rgba(0, 123, 255, 0.25);
      border: 1px solid #007BFF;
      transition: all 0.15s ease-in-out; }
  body a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: black; }
    body a.button {
      transition: all 0.15s ease-in-out; }
      body a.button:hover, body a.button:focus {
        text-decoration: none;
        transition: all 0.15s ease-in-out;
        color: #007BFF; }
  body input {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: black; }
    body input.form-control {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
      color: black; }
  body ul {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: black; }
    body ul.borderless {
      border-top: 0 none; }
    body ul li {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 1.2rem;
      font-weight: 400; }
      body ul li.borderless {
        border-top: 0 none; }
  body button.btn {
    font-size: 1.2rem; }
  body a.button,
  body input.button,
  body button.button {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    background-color: #000000;
    border-radius: .25rem;
    position: relative;
    color: white;
    height: 32px;
    margin: 0 auto 0 auto;
    padding: 0 12px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: all 0.15s ease-in-out;
    min-width: 92px; }
    body a.button:hover, body a.button:focus,
    body input.button:hover,
    body input.button:focus,
    body button.button:hover,
    body button.button:focus {
      background-color: #007BFF;
      color: white;
      text-decoration: none;
      transition: all 0.15s ease-in-out; }
    body a.button i,
    body input.button i,
    body button.button i {
      margin-right: 4px; }
    body a.button.card-button,
    body input.button.card-button,
    body button.button.card-button {
      border: 0;
      background: unset;
      color: black;
      width: unset;
      height: unset;
      padding: 0;
      margin: 0; }
      body a.button.card-button:hover, body a.button.card-button:focus,
      body input.button.card-button:hover,
      body input.button.card-button:focus,
      body button.button.card-button:hover,
      body button.button.card-button:focus {
        color: #007BFF;
        transition: all 0.15s ease-in-out; }
  body img {
    max-width: 100%;
    height: auto !important;
    padding: 3px !important; }
  body table {
    border: 0 !important;
    margin: 0 !important;
    width: auto !important; }
    body table td {
      padding: 0 !important;
      border: 0 !important;
      width: auto !important;
      height: auto !important;
      min-width: 50px;
      min-height: 50px; }
    body table tr {
      width: auto !important;
      height: auto !important;
      min-width: 50px;
      min-height: 50px; }
  body .body-wrapper {
    min-width: 320px;
    max-width: 1920px;
    padding: 48px 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  body .container-fluid {
    padding: 0;
    margin: 0; }
  body .col {
    width: auto !important;
    height: auto !important;
    min-width: 50px;
    min-height: 50px; }
  body .nav-sidenav {
    display: none; }
  body .navbar {
    margin-top: -48px;
    height: 48px;
    background-color: #000000;
    z-index: 1000;
    padding: 0; }
    body .navbar .navbar-header {
      height: 100%;
      display: flex; }
      body .navbar .navbar-header .navbar-brand {
        font-size: 1.8rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 0 16px;
        margin: 0;
        pointer-events: none;
        cursor: default; }
    body .navbar .navbar-collapse {
      height: 100%; }
      body .navbar .navbar-collapse .navbar-nav {
        height: 100%; }
        body .navbar .navbar-collapse .navbar-nav .nav-item {
          display: flex;
          padding: 0; }
          body .navbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
            background-color: #007BFF;
            transition: all 0.15s ease-in-out; }
          body .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
            border-radius: 0;
            border-bottom-left-radius: .25rem;
            border-bottom-right-radius: .25rem;
            background-color: #007BFF;
            border: 0;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
            min-width: 200px;
            top: 47px; }
            body .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
              font-size: 1.2rem;
              font-weight: 600;
              color: white;
              padding: 4px 16px; }
              body .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item.disabled {
                opacity: 0.5; }
              body .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:active, body .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
                background-color: #ECF0F1;
                color: black; }
          body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: center;
            color: white;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 0 16px;
            flex-grow: 1;
            transition: all 0.15s ease-in-out; }
            body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.dropdown-toggle {
              cursor: pointer; }
              body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
                margin-left: 6px; }
            body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active, body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.selected, body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
              background-color: #007BFF;
              transition: all 0.15s ease-in-out; }
            body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link i {
              margin-right: 6px;
              display: block;
              margin-bottom: 2px; }
  body .list-group.list-reports {
    margin-bottom: 16px; }
    body .list-group.list-reports .list-group-item {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      border: 0;
      font-size: 1.4rem;
      color: white;
      text-align: center;
      font-weight: 700;
      transition: all 0.15s ease-in-out;
      border-right: 1px solid white;
      margin-right: 0; }
      body .list-group.list-reports .list-group-item:last-child {
        border-right: 0; }
      body .list-group.list-reports .list-group-item.active {
        background-color: #007BFF;
        color: white; }
      body .list-group.list-reports .list-group-item:hover {
        background-color: #007BFF;
        color: white;
        transition: all 0.15s ease-in-out; }
  body .welcome-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 128px; }
  body .report-container {
    display: flex;
    flex-direction: row; }
    body .report-container:not(:last-child) {
      margin-bottom: 8px; }
    body .report-container .report-wrapper {
      width: 50%;
      border: 1px solid #D7E0E2;
      background-color: #ECF0F1;
      border-radius: .25rem;
      padding: 16px;
      overflow: hidden; }
      body .report-container .report-wrapper:not(:last-child) {
        margin-right: 8px; }
      body .report-container .report-wrapper.report-small {
        width: 25%; }
        body .report-container .report-wrapper.report-small:first-child {
          border-top-left-radius: 5px !important;
          border-bottom-left-radius: 5px !important;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: 0;
          margin-right: 0 !important; }
        body .report-container .report-wrapper.report-small:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          margin-right: 0; }
        body .report-container .report-wrapper.report-small:not(:last-child) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          margin-right: 8px; }
      body .report-container .report-wrapper .report-header {
        margin-bottom: 16px; }
        body .report-container .report-wrapper .report-header p {
          font-size: 1.2rem; }
      body .report-container .report-wrapper .report:empty:after {
        content: 'Loading Analytics...';
        position: relative;
        display: block;
        top: 0;
        left: 0;
        font-weight: 600;
        font-size: 1.2rem;
        color: #007BFF; }
      body .report-container .report-wrapper svg > rect {
        fill: transparent; }
      body .report-container .report-wrapper table.google-visualization-table-table {
        background: transparent;
        font-size: 1.2rem; }
        body .report-container .report-wrapper table.google-visualization-table-table thead tr th {
          padding: 0.5rem 0; }
        body .report-container .report-wrapper table.google-visualization-table-table tbody {
          padding: 0 1rem; }
          body .report-container .report-wrapper table.google-visualization-table-table tbody tr td {
            text-align: left; }
        body .report-container .report-wrapper table.google-visualization-table-table .gapi-analytics-data-chart-styles-table-tr-sel {
          background-color: #007BFF;
          color: white;
          transition: all 0.15s ease-in-out; }
  body .account-wrapper {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px; }
    body .account-wrapper .account-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px; }
      body .account-wrapper .account-container .form-header {
        margin-top: 16px;
        margin-bottom: 32px; }
      body .account-wrapper .account-container .account-form {
        width: 100%; }
        body .account-wrapper .account-container .account-form h5 {
          margin-bottom: 8px; }
        body .account-wrapper .account-container .account-form .form-group {
          text-align: center; }
          body .account-wrapper .account-container .account-form .form-group.input-group {
            display: flex;
            flex-direction: row; }
            body .account-wrapper .account-container .account-form .form-group.input-group p {
              margin-left: 8px; }
  body .login-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #007BFF; }
    body .login-wrapper .login-container {
      width: 392px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #D7E0E2;
      background-color: #ECF0F1;
      border-radius: .25rem;
      padding: 16px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
      z-index: 1000; }
      body .login-wrapper .login-container .login-header {
        margin-top: 16px;
        margin-bottom: 32px; }
        body .login-wrapper .login-container .login-header .login-attempt {
          font-size: 1.2rem; }
      body .login-wrapper .login-container .login-form {
        width: 100%; }
        body .login-wrapper .login-container .login-form .form-row.login-row {
          width: 304px;
          margin-left: auto;
          margin-right: auto; }
          body .login-wrapper .login-container .login-form .form-row.login-row .col {
            padding: 0; }
          body .login-wrapper .login-container .login-form .form-row.login-row .form-group:last-child {
            margin-bottom: 0; }
        body .login-wrapper .login-container .login-form .form-row.button-row .col {
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center; }
          body .login-wrapper .login-container .login-form .form-row.button-row .col .button {
            margin: 0; }
            body .login-wrapper .login-container .login-form .form-row.button-row .col .button:not(:last-child) {
              margin-right: 8px; }
        body .login-wrapper .login-container .login-form input.form-control {
          border-radius: .25rem;
          border: 1px solid #D7E0E2;
          background-color: white; }
          body .login-wrapper .login-container .login-form input.form-control:focus {
            color: #007BFF;
            border: 1px solid #007BFF; }
        body .login-wrapper .login-container .login-form .login-submit i {
          margin-right: 6px; }
        body .login-wrapper .login-container .login-form .g-recaptcha {
          margin-top: 1rem; }
          body .login-wrapper .login-container .login-form .g-recaptcha > div {
            margin-left: auto;
            margin-right: auto; }
    body .login-wrapper .login-footer {
      position: absolute;
      bottom: 16px; }
      body .login-wrapper .login-footer .login-notice {
        color: white;
        font-size: 1.2rem; }
  body .input-group .input-group-prepend .input-group-text {
    font-size: 1.2rem; }
  body .input-group .dropdown {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    body .input-group .dropdown .dropdown-toggle {
      font-size: 1.2rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  body #gallery-upload-modal {
    padding: 0 !important; }
  body .modal .modal-dialog {
    max-width: 75%; }
    body .modal .modal-dialog .modal-content {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
      border-radius: .25rem;
      border: #D7E0E2; }
      body .modal .modal-dialog .modal-content .modal-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #D7E0E2;
        padding: 8px 16px;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem; }
      body .modal .modal-dialog .modal-content .modal-footer {
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem;
        border-top: #D7E0E2;
        background-color: #ECF0F1; }
  body .toast {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1000;
    border-radius: .25rem;
    min-width: 300px; }
    body .toast .toast-body {
      font-size: 1.2rem; }
  body .gallery-wrapper {
    margin: 16px 0 16px 0; }
    body .gallery-wrapper .gallery-header {
      margin-bottom: 8px; }
    body .gallery-wrapper .image-gallery {
      min-height: 128px;
      border: 1px solid #D7E0E2;
      background-color: #ECF0F1;
      border-radius: .25rem; }
      body .gallery-wrapper .image-gallery .gallery-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px;
        border-bottom: 1px solid #D7E0E2;
        min-height: 40px; }
        body .gallery-wrapper .image-gallery .gallery-actions p {
          margin-left: 16px; }
          body .gallery-wrapper .image-gallery .gallery-actions p:first-child {
            margin-left: 8px; }
        body .gallery-wrapper .image-gallery .gallery-actions .button {
          margin: 0; }
      body .gallery-wrapper .image-gallery .gallery {
        display: flex;
        flex-direction: column;
        max-height: 512px;
        overflow-x: auto;
        overflow-y: scroll; }
        body .gallery-wrapper .image-gallery .gallery.full-spread {
          flex-direction: row;
          flex-wrap: wrap;
          padding: 16px; }
        body .gallery-wrapper .image-gallery .gallery .gallery-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 16px 8px 16px 8px;
          border-bottom: 1px solid #D7E0E2; }
          body .gallery-wrapper .image-gallery .gallery .gallery-container .gallery-header {
            margin-bottom: 16px; }
          body .gallery-wrapper .image-gallery .gallery .gallery-container .gallery-inner {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row; }
        body .gallery-wrapper .image-gallery .gallery .card {
          width: 256px;
          border: 1px solid #D7E0E2;
          border-radius: .25rem;
          margin-bottom: 8px; }
          body .gallery-wrapper .image-gallery .gallery .card:not(:last-child) {
            margin-right: 8px; }
          body .gallery-wrapper .image-gallery .gallery .card.selected .card-actions {
            background-color: #007BFF; }
          body .gallery-wrapper .image-gallery .gallery .card.selected .card-button {
            color: white; }
            body .gallery-wrapper .image-gallery .gallery .card.selected .card-button.select-image i {
              display: block; }
          body .gallery-wrapper .image-gallery .gallery .card .card-actions {
            padding: 8px;
            border-top: 1px solid #D7E0E2;
            border-bottom-left-radius: .25rem;
            border-bottom-right-radius: .25rem; }
          body .gallery-wrapper .image-gallery .gallery .card .card-button.select-image i {
            display: none; }
          body .gallery-wrapper .image-gallery .gallery .card .button-row {
            display: flex;
            justify-content: center; }
          body .gallery-wrapper .image-gallery .gallery .card .image-preview {
            height: 192px;
            width: 100%;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            background-color: white;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border-bottom: 1px solid #D7E0E2; }
          body .gallery-wrapper .image-gallery .gallery .card .card-body .card-title {
            font-weight: 600; }
          body .gallery-wrapper .image-gallery .gallery .card .card-body .card-type {
            font-weight: 600; }
          body .gallery-wrapper .image-gallery .gallery .card .card-body p {
            margin: 0;
            font-size: 1.2rem; }
            body .gallery-wrapper .image-gallery .gallery .card .card-body p.enlarge {
              font-weight: 600;
              margin-bottom: 8px;
              text-align: center; }
          body .gallery-wrapper .image-gallery .gallery .card .card-body form {
            margin-top: 8px; }
  body .upload-form .form-row {
    margin: 0; }
  body .upload-form .form-group#name-group {
    display: flex;
    flex-direction: row;
    padding: 0; }
    body .upload-form .form-group#name-group label {
      width: 64px;
      margin: 0;
      display: flex;
      align-items: center; }
  body .upload-form .modal-footer .button {
    margin-top: 0; }
