$colour-light-blue: #0D90FF;
$colour-light-grey: #F4F4F4;
$colour-dimmer-grey: #CDCDCD;
$colour-grey-dark: #888888;
$colour-dark-charcoal: #36454F;

$colour-table-border-grey: #D9D9D9;
$colour-table-fill-grey: #F0F0F0;

$text-shadow-close-heavy: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);

$box-shadow-default: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
$box-shadow-light: 0 0 10px 0 rgba(0, 0, 0, 0.05);

$link-transition: all 0.15s ease-in-out;
$link-sidenav-transition-open: color 0.10s ease-in-out, opacity 0.5s ease-in;
$link-sidenav-transition-close: color 0.10s ease-in-out, opacity 0.10s ease-out;
